img {
  padding-right: 10px;
}
.navbar {
  background-color: #700070 !important;
}
.navbar-brand {
  color: white !important;
}
.nav-link {
  color: white !important;
}

footer {
  background-color: #700070 !important;
  border-top: 2px solid black;
  color: white !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer a {
  color: white !important;
}

div.dt-button-collection {
  width: 250px;
}
