<%
%>
<div class='container-fluid'>
  <div class='offset-lg-3 col-lg-6 col-12 pt-2 pb-2'>
    <h1 class='text-center'>Contributions</h1>
    <p>
      I welcome ALL contributions to this repository of recipes! You can contribute to them by making issues or merge requests within the source code project (see the link at the bottom)!
    </p>
    <p>
      Please note I hand-test <i>every</i> recipe before I put it on this site!
    </p>
    <h3>Recipe file location</h3>
    <p>
      All recipes are located in the <code>data/recipes</code> folder within the source code project.
    </p>
    <h3>Recipe file format</h3>
    <p>
      All recipes stem from YAML files in the repository for this site. The format used for these is as follows:
    </p>
    <pre>
      ---
      name: The name of the recipe
      description: A description for the recipe
      category: The category of the recipe
      image: The filename for the image to show
      vegetarian: true|false
      vegan: true|false
      keto: true|false
      ingredients:
      - List
      - of
      - ingredients
      directions:
      - List
      - of
      - directions
      nutrition:
        serving_size: Nutritional info on the serving size
        calories: Nutritional info on the calories in a service size
        protein: Nutritional info on the protein in a service size
        carbs: Nutritional info on the carbs in a service size
        sugar: Nutritional info on the sugar in a service size
        fiber: Nutritional info on the fiber in a service size
        fat: Nutritional info on the fat in a service size
        sodium: Nutritional info on the sodium in a service size
    </pre>
  </div>
</div>
