<%

@title = title
@description = description

%>
<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @title %></title>
    <meta name="description" content="<%= @description %>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel='stylesheet' href='https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css' />
    <link rel='stylesheet' href='https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.min.css' />
    <link rel="stylesheet" href="css/style.css">
    <script type='text/javascript'>
      var split = location.search.replace('?', '').split('&').map(function(val){
        if (val.split('=')[0] == 'search') {
          return val.split('=')[1]
        }
      })[0];
      if (split != '' && split != null) {
        var search = split.toLowerCase().replace(/%20/g, ' ');
      } else {
        var search = '';
      }
    </script>
  </head>
  <body>
