<%

@recipes = recipes

def table_data
  data = []
  @recipes.each do |r|
    data.push(
      [
        link_from_recipe(r),
        r['category'],
        "<div class='text-center'>#{buttons(r)}</div>"
      ]
    )
  end
  data
end

def link_from_recipe(recipe)
"<a href='#{recipe['name'].downcase.gsub(' ', '_')}.html'>#{recipe['name'].capitalize}</a>"
end

def buttons(recipe)
  data = []
  data.push('<button class="btn btn-sm btn-success rounded-pill">Vegetarain</button>') if recipe['vegetarian']
  data.push('<button class="btn btn-sm btn-info rounded-pill">Vegan</button>') if recipe['vegan']
  data.push('<button class="btn btn-sm btn-secondary rounded-pill">Keto</button>') if recipe['keto']
  data.join
end

%>

<div class='container-fluid'>
  <div class='offset-lg-3 col-lg-6 col-12 pt-2 pb-2'>
    <table id='myDataTable' class='display'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Diets</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<script type='module'>
  $('#myDataTable').DataTable({
    data: <%= table_data %>,
    paging: false,
    search: { search: search },
    layout: {
      topStart: 'buttons'
    },
    buttons: [
      {
        extend: 'colvis',
        className: 'btn btn-primary',
        columnText: function (dt, idx, title) {
          return idx + 1 + ': ' + title;
        },
        postfixButtons: ['colvisRestore']
      }
    ]
  })
</script>
