<%

@recipe = recipe

def has_nutrition_info?
  @recipe['nutrition']['serving_size'] || @recipe['nutrition']['calories'] || @recipe['nutrition']['protein'] || @recipe['nutrition']['carbs'] || @recipe['nutrition']['sugar'] || @recipe['nutrition']['fiber'] || @recipe['nutrition']['fat'] || @recipe['nutrition']['sodium']
end

%>
<div class='container-fluid'>
  <div class='row'>
    <div class='offset-lg-2 col-lg-8 col-12 pt-2 pb-2'>
      <h1 class='text-center'><%= @recipe['name'] %></h1>
      <% if @recipe['image'] %>
        <div class='text-center'>
          <img src='assets/<%= @recipe['image'] %>' class='img-fluid' alt='<%= @recipe['name'] %>' style='max-height: 500px;' />
        </div>
      <% end %>
      <% if @recipe['description'] %>
      <div class='text-center'>
        <%= @recipe['description'] %>
      </div>
      <% end %>
      <h3>Incredients</h3>
      <ul>
        <% @recipe['ingredients'].each do |i| %>
          <% if i.is_a? String %>
            <li><%= i %></li>
          <% else %>
            <li><%= i['step'] %><ul>
              <% i['ingredients'].each do |ii| %>
                <li><%= ii %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </ul>
      <h3>Directions</h3>
      <ol>
        <% @recipe['directions'].each do |d| %>
          <% if d.is_a? String %>
            <li><%= d %></li>
          <% else %>
            <li><%= d['step'] %><ul>
              <% d['directions'].each do |dd| %>
                <li><%= dd %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class='col-lg-2 pt-2'>
      <% if has_nutrition_info? %>
        <h4>Nutrition Info</h4>
        <ul>
          <li>Serving size: <%= @recipe['nutrition']['serving_size'] %></li>
          <li>Calories: <%= @recipe['nutrition']['calories'] %></li>
          <li>Protein: <%= @recipe['nutrition']['protein'] %></li>
          <li>Carbs: <%= @recipe['nutrition']['carbs'] %></li>
          <li>Sugar: <%= @recipe['nutrition']['sugar'] %></li>
          <li>Fiber: <%= @recipe['nutrition']['fiber'] %></li>
          <li>Fat: <%= @recipe['nutrition']['fat'] %></li>
          <li>Sodium: <%= @recipe['nutrition']['sodium'] %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
